In [3]:
import seaborn as sns

df = sns.load_dataset("penguins")
print(df.head(10))

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0
5  Adelie  Torgersen            39.3           20.6              190.0
6  Adelie  Torgersen            38.9           17.8              181.0
7  Adelie  Torgersen            39.2           19.6              195.0
8  Adelie  Torgersen            34.1           18.1              193.0
9  Adelie  Torgersen            42.0           20.2              190.0

   body_mass_g     sex
0       3750.0    Male
1       3800.0  Female
2       3250.0  Female
3          NaN     NaN
4       3450.0  Female
5       3650.0    Male
6       3625.0  Female
7       4675.0    Male
8       3475.0     NaN
9       4250.0     NaN

In [5]:
# melt()

print(df.melt(id_vars = ["species", "island"]).head())

  species     island        variable value
0  Adelie  Torgersen  bill_length_mm  39.1
1  Adelie  Torgersen  bill_length_mm  39.5
2  Adelie  Torgersen  bill_length_mm  40.3
3  Adelie  Torgersen  bill_length_mm   NaN
4  Adelie  Torgersen  bill_length_mm  36.7

In [7]:
# pivot_table()
''' -index : 행 인덱스
    -columns : 열 인덱스
    -values : 데이터 값
    -aggfunc : 데이터 집게 함수'''

print(df.pivot_table(index = "species",
                     columns = "island",
                     values = "bill_length_mm",
                     aggfunc = "mean"))

island        Biscoe      Dream  Torgersen
species
Adelie     38.975000  38.501786   38.95098
Chinstrap        NaN  48.833824        NaN
Gentoo     47.504878        NaN        NaN

In [8]:
print(df.pivot_table(index = ["species", "sex"],
                     columns = "island",
                     values = ["bill_length_mm", "flipper_length_mm"],
                     aggfunc = ["mean", "count"]))

                           mean                                          \
                 bill_length_mm                       flipper_length_mm
island                   Biscoe      Dream  Torgersen            Biscoe
species   sex
Adelie    Female      37.359091  36.911111  37.554167        187.181818
          Male        40.590909  40.071429  40.586957        190.409091
Chinstrap Female            NaN  46.573529        NaN               NaN
          Male              NaN  51.094118        NaN               NaN
Gentoo    Female      45.563793        NaN        NaN        212.706897
          Male        49.473770        NaN        NaN        221.540984

                                                  count                  \
                                         bill_length_mm
island                 Dream   Torgersen         Biscoe Dream Torgersen
species   sex
Adelie    Female  187.851852  188.291667           22.0  27.0      24.0
          Male    191.928571  194.913043           22.0  28.0      23.0
Chinstrap Female  191.735294         NaN            NaN  34.0       NaN
          Male    199.911765         NaN            NaN  34.0       NaN
Gentoo    Female         NaN         NaN           58.0   NaN       NaN
          Male           NaN         NaN           61.0   NaN       NaN


                 flipper_length_mm
island                      Biscoe Dream Torgersen
species   sex
Adelie    Female              22.0  27.0      24.0
          Male                22.0  28.0      23.0
Chinstrap Female               NaN  34.0       NaN
          Male                 NaN  34.0       NaN
Gentoo    Female              58.0   NaN       NaN
          Male                61.0   NaN       NaN

In [11]:
# stack() : 열 인덱스 -> 행 인덱스, unstack() : 행 인덱스 -> 열 인덱스

new_df = df.pivot_table(index = ["species", "sex"],
                        columns = "island",
                        values = "bill_length_mm",
                        aggfunc = "mean")
    
print(new_df.stack())
print()
print(new_df.unstack())

species    sex     island
Adelie     Female  Biscoe       37.359091
                   Dream        36.911111
                   Torgersen    37.554167
           Male    Biscoe       40.590909
                   Dream        40.071429
                   Torgersen    40.586957
Chinstrap  Female  Dream        46.573529
           Male    Dream        51.094118
Gentoo     Female  Biscoe       45.563793
           Male    Biscoe       49.473770
dtype: float64

island        Biscoe                 Dream             Torgersen
sex           Female       Male     Female       Male     Female       Male
species
Adelie     37.359091  40.590909  36.911111  40.071429  37.554167  40.586957
Chinstrap        NaN        NaN  46.573529  51.094118        NaN        NaN
Gentoo     45.563793  49.473770        NaN        NaN        NaN        NaN