In [2]:
import seaborn as sns

df = sns.load_dataset("penguins")
bill_length_mm = df["bill_length_mm"]

bill_length_mm.head()

0    39.1
1    39.5
2    40.3
3     NaN
4    36.7
Name: bill_length_mm, dtype: float64

In [3]:
import numpy as np

result = bill_length_mm.apply(np.sqrt)
result.head()

0    6.252999
1    6.284903
2    6.348228
3         NaN
4    6.058052
Name: bill_length_mm, dtype: float64

In [8]:
# apply() : 모든 열 또는 행을 하나씩 분리하여 함수에 각 원소가 전달된 후 값이 반환됨

def mm_to_cm(num) :
    return num / 10

result2 = bill_length_mm.apply(mm_to_cm)
result2.head()

0    3.91
1    3.95
2    4.03
3     NaN
4    3.67
Name: bill_length_mm, dtype: float64

In [9]:
df_num = df[["bill_length_mm", "bill_depth_mm", "flipper_length_mm", "body_mass_g"]]
df_num.head()

   bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0            39.1           18.7              181.0       3750.0
1            39.5           17.4              186.0       3800.0
2            40.3           18.0              195.0       3250.0
3             NaN            NaN                NaN          NaN
4            36.7           19.3              193.0       3450.0

In [11]:
print(df_num.apply(max))   # df_num.apply(max, axis = 0)과 같다 
print()
print(df_num.apply(max, axis = 1))

bill_length_mm         59.6
bill_depth_mm          21.5
flipper_length_mm     231.0
body_mass_g          6300.0
dtype: float64

0      3750.0
1      3800.0
2      3250.0
3         NaN
4      3450.0
        ...
339       NaN
340    4850.0
341    5750.0
342    5200.0
343    5400.0
Length: 344, dtype: float64

In [12]:
import pandas as pd

def num_null(data) :
    null_vec = pd.isnull(data)
    null_count = np.sum(null_vec)
    
    return null_count

df_num.apply(num_null)

bill_length_mm       2
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
dtype: int64